.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/.vs/
ExportedObj/
.consulo/
.idea
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
*.log
Assets/Plugins*
Assets/GooglePlayGames*
Assets/PlayServicesResolver*
Assets/StreamingAssets/videos
Packages
ProjectSettings
*.avi*

